.image {
    float: right;
    margin: 20px;
    margin-top: 20px;
    background-color: rgb(39, 39, 39);
    padding: 8px;
}

.image > img {
    height: 55vh;
    border-radius: 0px;
}

article {
    margin-left: 100px;
    font-family: Helvetica;
    color: white;
    margin-top: 40px;
    margin-bottom: 150px;
}

a {
    text-decoration: none;
    color: white;
}

h4 {
    margin-left: 0.9vw;
}

.underimagetext {
    font-family: Helvetica;
    color: white;
    font-size: 22px;
}

h1 {
    font-family: Helvetica;
    color: white;
    font-size: 48px;
    text-align: center;
}

h2 {
    font-size: 22px;
}

p {
    font-size: 22px;
}

p a {
    text-decoration: underline;
}

.inhoud {
    font-size: 22px;
    background-color: #222629;
    width: 300px;
    border: 3px solid rgb(99, 99, 99);
}

.form {
    margin-left: 8vw;
    font-family: Helvetica;
    color: white;
    margin-top: 4vh;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip + .tooltipdef {
    opacity: 0;
    transition: opacity 0.5s ease;
    width: auto;
    background-color: rgb(49, 49, 49);
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    
    position: absolute;
    z-index:    1;
}

.tooltip:hover + .tooltipdef {
    opacity: 1;
}

footer {
    padding-left: 100px;
    background-color: #222629;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    color: rgb(99, 99, 99);
}

@media only screen and (max-width: 100vh) {
    article {
        margin-left: 5px;
    }

    footer {
        padding-left: 10px;
    }
}

.inhoud ol li:nth-child(4) {
    position: relative;
    padding-top: 8px;
    margin-top: 8px;
}
.inhoud ol li:nth-child(4)::after {
    content: '';
    width: calc(100% + 20px);
    height: 2px;
    position: absolute;
    left: -30px;
    top: -2px;
    border-top: 3px solid rgba(99, 99, 99, 0.3);
}