.darkmode {
    background-color: #474B4f;
    height: 100%;
}

.lightmode {
    background-color: whitesmoke;
}

.arrowicon > i {
    color: #6b6e70;
    white-space: nowrap;
    margin-left: 20px;
    font-size: 28px;
    position: fixed;
    bottom: 5%;
    transition: 1s;
    z-index: 1;
}

.arrowicon {
    transition: 1s;
}

.arrowicon > i:hover {
    color: #0080c1;
    transition: 1s;
}
 
.navbar ul {
    list-style-type: none;
    position: relative;
    left: -40px;
}

.navbarex ul {
    list-style-type: none;
    position: relative;
    left: -40px;
}

.navbar {
    height: 100%; 
    width: 80px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #222629; 
    overflow-x: hidden; 
    overflow-y: hidden; 
    padding-top: 20px;
    transition: all 1s ease;
    border-right: 1px solid #474B4F;
}

.navbarex {
    height: 100%; 
    width: 320px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #222629; 
    overflow-x: hidden; 
    overflow-y: hidden; 
    padding-top: 20px;
    transition: all 1s ease;
}

.navbar:hover > div > i {
    transition: all 1s ease;
}

.container {
    margin-left: 80px;
    padding-top: 5vh;
}

.container > div > span {
    color: white;
    font-family: Helvetica;
    font-size: 26px;
    font-weight: bold;
    position: absolute;
    bottom: 4%;
    right: 0;
    left: 0;
}

.container > div > a > img {
    padding-top: 1vh;
    width: 25vw;
    object-fit: fill;
}

.container > div {
    background-color: #222629;
    padding: 7px;
    height: 40vw;
    float: left;
    margin-right: 2vw;
    text-align: center;
    position: relative;

}

.container_ons {
    margin-left: 8.5vw;
    padding-top: 5vh;
}

.container_ons > div > span {
    color: white;
    font-family: Helvetica;
    font-size: 26px;
    font-weight: bold;
    position: absolute;
    bottom: 4%;
    right: 0;
    left: 0;
}

.container_ons > div > a > img {
    padding-top: 1vh;
    width: 35vw;
    object-fit:    fill;
}

.container_ons > div {
    background-color: #222629;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 130px;
    float: left;
    margin-right: 2vw;
    text-align: center;
    position: relative;

}

.navbar a {
    margin-left: 25px;
    font-size: 28px;
    padding-bottom: 40px;
    text-decoration: none;
    font-size: 28px;
    color: #6b6e70;
    display: block;
    transition: 1s;
    white-space: nowrap;
}

.navbarex a {
    margin-left: 25px;
    font-size: 28px;
    padding-bottom: 40px;
    text-decoration: none;
    font-size: 28px;
    color: #6b6e70;
    display: block;
    transition: 1s;
    white-space: nowrap;
}

ul {
    width: 100px;
}

@media only screen and (max-width: 100vh) {
    .navbar {
        height: 70px; 
        width: 100%; 
        position: fixed; 
        z-index: 1; 
        top: 0; 
        left: 0;
        background-color: #222629; 
        overflow-x: hidden; 
        overflow-y: hidden; 
        padding-top: 20px;
        transition: all 1s ease;
    }

    .navbarex {
        height: 100%;
        transition: all 1s ease;
        font-size: 24px;
        width: 100%;
        opacity: 0.95;
    }

    .container > div {
        background-color: #222629;
        text-align: center;
        float: none;
        margin-left: auto;
        margin-right: auto;
        padding: 4px;
        padding-top: 10px;
        height: 110vw;
        margin-top: 10px;
    }
    
    .container > div > a > img {
        width: 70vw;
        object-fit: fill;
    }

    .container {
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        padding-top: 70px;
    }

    div.image {
        float: none;
        text-align: center;
        padding-top: 100px;
    }

    .arrowicon > i {
        transform-origin: center center;
        position: fixed;
        right: 5%;
        top: 30px 
    }
}

.dropdown-btn {
    margin-left: 25px;
    font-size: 28px;
    padding-bottom: 40px;
    text-decoration: none;
    font-size: 28px;
    color: #6b6e70;
    transition: 1s;
    white-space: nowrap;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    transition: 1s;
}

.navbar a span {
    padding-left: 35px;
    font-family: Helvetica;
}

.navbarex a span {
    padding-left: 35px;
    font-family: Helvetica;
}

.dropdown-btn span {
    padding-left: 35px;
    font-family: Helvetica;
}

.dropdown-btn:hover {
    color: #0080c1;
    transition: 0.8s;
}

.navbar a:hover {
    color: #0080c1;
    transition: 1s;
}

.dropdown-btn:hover > div {
    height: 1000px;
    transition: 1s;
}

.main {
    margin-left: 160px; 
    padding: 0px 10px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

body {
    width: vw;
    overflow-x: hidden;
}